body {
    background-image: url("/img/harley-fondo-grande.png");
    background-attachment: fixed;
    background-size: cover;
  }

  .card{
      margin-top: 90px;
    max-width: 500px;
    box-shadow: none;
}

.card-body{
    border-radius: 20px;
}


.perfil{
    left: 180px;
    }

.boton{
    margin: 10px 170px;
}